@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,700");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  font-family: "Open Sans";
  font-weight: 400;
}

.header {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.menu-nav a {
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.menu-btn {
  display: block;
  width: 50px;
  height: 24px;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background-color: white;
}

.menu-btn span:hover {
  background-color: #d22856;
}

.menu-btn span:before:hover {
  background-color: #d22856;
}

.menu-btn span::after:hover {
  background-color: #d22856;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: inline-block;
  transition: 1s;
}

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span::before {
  transform: rotate(45deg);
}

.menu-btn_active span::before {
  transform: rotate(-45deg);
}

.app {
  background: url("../img/screen-mobile.png"), url("../img/phone.png"), url("../img/back-mobile.png");
  background-repeat: no-repeat;
  width: 15vw;
  height: 25vh;
}

.app__img {
  position: relative;
}

.app__title {
  position: absolute;
  top: 20px;
  left: 10px;
  font-weight: 300;
  color: white;
  font-size: 24px;
  line-height: 120%;
}

.app__form {
  background: url("../img/back-mobile.png") no-repeat;
  width: 15vw;
  height: 25vh;
}

.form__title {
  position: absolute;
  font-weight: 300;
  color: white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.forms__p {
  text-align: center;
  display: flex;
}

.main__link {
  background-color: #1d2631;
  color: white;
  text-align: center;
}

.button {
  padding: 21px 48px;
  border-radius: 35px;
  border: 2px solid white;
  background-color: #1d2631;
  color: white;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 18px;
}

.app__button_small {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 31px;
  align-items: flex-end;
}

.app__text {
  padding-bottom: 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.item1__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 70px;
  padding-right: 20px;
  padding-left: 20px;
}

.text1__item1 {
  padding-bottom: 30px;
}

.item1__text {
  color: #283645;
  line-height: 28.8px;
  font-size: 24px;
}

.item2__title {
  color: black;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
}

.item2__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.item2__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F2F2F2;
}

.wrapper__slider {
  text-align: center;
}

.slider__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.slider__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.table, td, th {
  border: thin solid #e5e5e5;
  border-spacing: 0px;
}

th {
  background-color: #283645;
}

td, th {
  padding: 25px;
}

td {
  width: 276px;
}

/*.cell //{     таблица Tablet
  text-align: center;
}*/
.table__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: #283645;
}

.table__row_big {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.table__rowp {
  font-weight: 300;
}

.trb {
  background: url("../img/ХИТ.png") 10px 10px no-repeat, url("../img/hit ribbon.png") no-repeat, #283645;
}

.contacts {
  text-align: center;
}

.contacts__questions {
  font-weight: 300;
  font-size: 24px;
  line-height: 28, 8px;
  color: #283645;
  padding-bottom: 45px;
}

.contacts__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 24, 51px;
  color: #283645;
  padding-bottom: 13px;
}

.contact {
  font-weight: 300;
  font-size: 24px;
  line-height: 32, 68px;
  color: #d22856;
  padding-bottom: 31px;
}

.footer {
  text-align: center;
}

.glass_red {
  padding-right: 12px;
}

.footer__logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 41px;
}

.footer__row {
  display: flex;
  justify-content: center;
  padding-bottom: 41px;
}

.logo__twitter, .logo__facebook {
  margin-right: 14px;
}

.footer__ellipse {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.logo__twitter {
  background: url("../img/twitter.png") 12px 15px no-repeat;
}

.logo__facebook {
  background: url("../img/facebook.png") 16px 12px no-repeat;
}

.logo__youtube {
  background: url("../img/youtube.png") 15px 15px no-repeat;
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 40px;
}

.footer__title {
  padding-right: 15px;
}