.app__form {
  background: url('../img/back-mobile.png') no-repeat;
  width: 15vw;
  height: 25vh;
}
.form__title {
  position: absolute; 
  font-weight: 300;
  color:white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
} 