@import "header.scss";

//===============================app-form==================================


.app__form {
  background: url('../img/back-mobile.png') no-repeat;
  height: 237px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.form__title {
  position: absolute; 
  font-weight: 300;
  color:white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  //left: 0;
  bottom: 51px;
  padding: 0px 46px;
}

@media (min-width: 660px) {
  .app__form {
    background: url('../img/back-tablet.png') no-repeat;
    height: 440px;
    background-size: cover;
    background-position: center;
  }
  .form__title {
    font-size: 50px;
    line-height: 68.09px;
    bottom: 74px;
  }
}

@media (min-width: 1200px) {
  .app__form {
    background: url('../img/back-desktop.jpg') no-repeat;
    height: 394px;
    background-size: cover;
    
  }
  .form__title  {
    bottom: 104px;
    padding: 0px 220px;
  }
}

//=====================================forms==============================

.forms_p {
  font-size: 14px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
  padding: 55px 20px;
  text-align: center;
}
.forms_p1 {
  display:none;
}

@media (min-width: 660px) {
  .forms_p {
    font-size: 18px;
    padding: 100px 85px;
  }
  .forms_p1 {
    display:block;
  }
}
@media (min-width: 1200px) {
  .forms_p {
    padding: 100px 222px;
  }
}
//=========================form__row=============================
.appointment-item__row {
  grid-area: air;
}
.checkboxs__row {
  grid-area: cr;
}
.telef  {
  grid-area: tf;
}
.radios {
  grid-area: rs;
}
.form__row {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
      "air"
      "cr"
      "tf"
      "rs";
}

@media (min-width: 660px) {
  .form__row {
    grid-template-areas:
      "air"
      "rs"
      "tf"
      "cr";
  }
}

@media (min-width: 1200px) {
  .form__row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "air rs"
      "tf tf"
      "cr cr";
    padding: 0px 100px;
  }
  .radios {
    margin-left: 16px;
    margin-top: -50px;
  }
  .appointment-item__row {
    margin-right: 16px;
  }
}
//========================================appointment-item__row==============================

.appointment-item__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.appointment-item {
  position: relative;
}
.labels {
  color:rgba(210, 40, 86, 1);
  font-size: 14px;
  position: absolute;
  left: 15px;
}

.familia {
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 17px 83px 17px 20px;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 29px;
  margin-bottom: 29px;
}

.familia:hover {
  border: 2px solid rgba(40, 54, 69, 1);
}
.familia:active {
  border: 2px solid rgba(210, 40, 86, 1);
}

.familia::placeholder {
  color: rgba(40, 54, 69, 1);
}

@media (min-width: 660px) {

  .familia {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-grow: 1;
  }

  .appointment-item__row {
    display:flex;
    gap: 25px;
    align-items: flex-start;
    padding: 0px 20px;
    align-items: stretch;
  }

  .appointment-item {
    position: static;
    display: flex;
    align-items: center;
  }

  .labels {
    left: 0px;
    position: static;
    padding-right: 20px;
    padding-bottom: 25px;
  }
}
  
  @media (min-width: 1200px) {
  
  }

  
  //========================checkboxs row=======================

.checkboxs__row {
  margin-top: 25px;
  background: rgba(242, 242, 242, 1);
  padding-bottom: 1px;
}

.checkboxs__title {
  color: rgba(210, 40, 86, 1);
  padding-top: 42px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 44px;
  text-align: center;
}

@media (min-width: 660px) {
  
}

@media (min-width: 1200px) {
  .checkbox_row {
    display: flex;
    justify-content: space-around;
  }
}

//======================checkboxs===============================


  .option {
    display: block;
    margin-bottom: 2em;
  }
    
  
  .check {
    padding-left: 4em;
    margin-bottom: 2.7em;
    font-size:18px;
    line-height: 30px;
  }
  
  .check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .check__box {
    position: absolute;
    margin-left: -3em;
    width: 2em;
    height: 2em;
    border-radius: 0.2em;
    background-color: white;
    border: 2px solid rgba(229, 229, 229, 1);
  }
  .check__box:hover {
    border: 2px solid rgba(40, 54, 69, 1);
  }
  .check__box:active {
  border: 2px solid rgba(210, 40, 86, 1);
  }
  //-----------------Checked--------------------------------------------------------------------------------------//
  
  .check__input:checked + .check__box {
    background: url("../img/tick.png") 5px 8px no-repeat, 
    white;
  }


  @media (min-width: 660px) {

    .checkboxs__row {
      background-color: white;
      padding: 0px 20px;
    }
    .checkbox__field {
      border: 2px solid rgba(229, 229, 229, 1);
      margin-bottom: 64px;
    }
    .check {
      padding-left: 6em;
    }
  }

//=====================telef=============================

.telef {
  padding: 42px 20px 30px 20px;
}

.telef__legend {
  display: none;
}

.appointment-item__row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-item1 {
  position: relative;
}


@media (min-width: 660px) {

  .telef__legend {
    display: block;
    text-align: center;
    color: rgba(210, 40, 86, 1);
    text-transform: uppercase;
    margin-bottom: 41px;
  }

  .appointment-item__row1 {
    border: 2px solid rgba(229, 229, 229, 1);
    align-items: stretch;
  }

  .telef__cont {
    padding: 0px 60px;
  }

  .appointment-item1 {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 41px;
  }
  .familia {
    margin-bottom: 22px;
  }
}


  
@media (min-width: 1200px) {

  .telef__cont {
    display: grid;
    grid-template-columns:  1fr 1fr;
  }
  .telef__item1 {
    margin-right: 37px;
  }
  .telef__item2 {
    margin-left: 37px;
  }

  .telef__fam {
    //background-image: url("../../img/phone icon.svg");
    //background-repeat: no-repeat;
    //background-position: 0px center;
  }
  .telef__fam1 {
    //background-image: url("../../img/mail icon.png");
    //background-repeat: no-repeat;
    //background-position: right center;
  }
}

//======================radios==========================

.radios {
  font-size: 14px;
  background: rgba(242, 242, 242, 1);
}
.radiosh3 {
  color: rgba(210, 40, 86, 1);
  font-size: 14px;
  text-align: center;
}
.radio__row {
  font-size: 18px;
  padding-bottom: 42px;
  line-height: 30px;
}


@media (min-width: 660px) {
  .radios {
    background-color:white;
    padding: 0px 20px;
    }

  .radio__row {
    border: 2px solid rgba(229, 229, 229, 1);  
  }
  .checkboxs__title {
    br {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  
}


//=========================radio buttons===================

.radios {
  margin-bottom: 42px;
}

.gadjets {
  display: block;
  margin-bottom: 1.7em;
}

.gadjets {
  padding-left: 4.5em;
}

.radio__input {
  position:absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__box {
  position: absolute;
  margin-left: -3.5em;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgba(229, 229, 229, 1);
}
.radio__box:hover {
  border: 2px solid rgba(40, 54, 69, 1);
}
.radio__box:active {
  border: 2px solid rgba(210, 40, 86, 1);
}

.radio__input:checked + .radio__box {
  background-image: url('../img/Ellipse small.png');
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 660px) {
  .gadjets {
    padding-left:7em;
  }
}

@media (min-width: 1200px) {
  
}


//=====================emotions===================================
.emotions {
  display: flex;
  flex-direction: column;
  text-align: center;
 // margin-bottom: 26px;
  padding: 0px 20px;
}

.emotions__title {
  color: rgba(210, 40, 86, 1);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 22px;
}

.emotions__text {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 22px 25px 132px 20px;
}

.emotions__button {
  margin-top: 52px;
  margin-bottom: 46px;
  padding: 23px 47px;
  font-size: 18px;
  font-weight: 700;
  color:white;
  background: rgba(42, 171, 109, 1);
  border-radius: 5px;
}
.emotions__button:hover {
  background: rgba(28, 155, 94, 1);
}
.emotions__button:active {
  color:rgba(255, 255, 255, 0.3);
  
}
.red__field {
  color: #D22856;
}
.field__stroke {
  text-transform: uppercase;
}
.field_stroke1 {
  display: none;
}

@media (min-width: 660px) {
  
  .container_mobile {
    width: 100%;
  }
  .emotions__row  {
    border: 2px solid rgba(229, 229, 229, 1);
  }
  .emotions__text {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 53px;
    margin-top: 20px;
  }
  .emotions__button {
    margin-top: 0px;
  }
  .emotions__row1 {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }
  .emotions__cont {
    padding-top: 28px;
  }
}

@media (min-width: 1200px) {
  .emotions {
    padding: 0px 120px;
  }
  .emotions__text {
    text-align: left;
  }
  .field_stroke1 {
    display: inline-block;
  }
  .emotions__button {
    margin-bottom: 0px;
  }
}

@import "footer.scss";
  