@import "header.scss";

//===============================app-form==================================


.app__form {
  background: url('../img/back-mobile.png') no-repeat;
  //width: 320px;
  height: 237px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.form__title {
  position: absolute; 
  font-weight: 300;
  color:white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  left: 0;
  bottom: 51px;
  padding: 0px 46px;
}

@media (min-width: 660px) {
  .app__form {
    background: url('../img/back-tablet.png') no-repeat;
    height: 440px;
    background-size: cover;
    background-position: center;
  }
  .form__title {
    font-size: 50px;
    line-height: 68.09px;
    bottom: 74px;
  }
}

@media (min-width: 1200px) {
  .app__form {
    background: url('../img/back-desktop.jpg') no-repeat;
    height: 394px;
    background-size: cover;
    
  }
  .form__title  {
    bottom: 104px;
    padding: 0px 220px;
  }
}

//=====================================forms==============================

.forms_p {
  font-size: 14px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
  padding: 55px 20px;
  text-align: center;
}

@media (min-width: 660px) {
  .forms_p {
  font-size: 18px;
  padding: 100px 85px;
  }
}
@media (min-width: 1200px) {
  .forms_p {
    padding: 100px 222px;
    }
}

//===================================================================================

.familia {
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 15px 61px 15px 11px;
  border-radius: 3px;
  margin-top: 17px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 30px;
}

.familia:hover {
  border: 2px solid rgba(40, 54, 69, 1);
}
.familia:active {
  border: 2px solid rgba(210, 40, 86, 1)
}
.familia::placeholder {
  color: rgba(40, 54, 69, 1);
}

.appointment-item__row {
  text-align: center;
  padding-bottom: 15px;
}

.appointment-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 35px;
}

.labels {
  color: rgba(210, 40, 86, 1);
}
  
@media (min-width: 660px) {

}

@media (min-width: 1200px) {
  
}

//========================checkboxs row=======================

.checkboxs__row {
  background: rgba(242, 242, 242, 1);
  padding-bottom: 1px;
}

.checkboxs__title {
  color: rgba(210, 40, 86, 1);
  padding-top: 42px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 44px;
  text-align: center;
}


.wrapper__checkbox {
  
  background: rgba(242, 242, 242, 1);
}

//======================checkboxs===============================


  .option {
    display: block;
    margin-bottom: 2em;
  }
    
  
  .check {
    padding-left: 4em;
    margin-bottom: 2.7em;
    font-size:18px;
    line-height: 30px;
  }
  
  .check__input {
    position: absolute;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .check__box {
    position: absolute;
    margin-left: -3em;
    width: 2em;
    height: 2em;
    border-radius: 0.2em;
    background-color: white;
    //box-shadow: 0 0 0 0.1em #4A90E2;
    border: 2px solid rgba(229, 229, 229, 1);
  }
  .check__box:hover {
    border: 2px solid rgba(40, 54, 69, 1);
  }
  .check__box:active {
  border: 2px solid rgba(210, 40, 86, 1);
  }
  //-----------------Checked--------------------------------------------------------------------------------------//
  
  .check__input:checked + .check__box {
    background: url("../img/tick.png") 5px 8px no-repeat, 
    white;
  }
  

//=====================telef=============================

.telef {
  padding-top: 42px;
}
//======================radios==========================
.radios {
  font-size: 14px;
  background: rgba(242, 242, 242, 1);
}
.radiosh3 {
  color: rgba(210, 40, 86, 1);
  font-size: 14px;
  text-align: center;
}
.radio__row {
  font-size: 18px;
  padding-bottom: 42px;
  line-height: 30px;
}



//=========================radio buttons===================


.gadjets {
  display: block;
  margin-bottom: 1.7em;
}

.gadjets {
  padding-left: 4.5em;
}

.radio__input {
  position:absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__box {
  position: absolute;
  margin-left: -3.5em;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgba(229, 229, 229, 1);
}
.radio__box:hover {
  border: 2px solid rgba(40, 54, 69, 1);
}
.radio__box:active {
  border: 2px solid rgba(210, 40, 86, 1);
}

.radio__input:checked + .radio__box {
  background-image: url('../img/Ellipse small.png');
  background-position: center;
  background-repeat: no-repeat;
}
  


//=====================emotions===================================
.emotions {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 26px;
}
.emotions__title {
  color: rgba(210, 40, 86, 1);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top:42px;
  padding-bottom: 22px;
}


.emotions__text {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 22px 25px 132px 20px;
}

.emotions__button {
  margin-top: 52px;
  margin-bottom: 46px;
  padding: 23px 47px;
  font-size: 18px;
  font-weight: 700;
  color:white;
  background: rgba(42, 171, 109, 1);
  border-radius: 5px;
}
.emotions__button:hover {
  background: rgba(28, 155, 94, 1);
}
.emotions__button:active {
  color:rgba(255, 255, 255, 0.3);
  
}
.red__field {
  color: #D22856;
}
.field__stroke {
  text-transform: uppercase;
}

@import "footer.scss";
  