@import "null.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,700");
@import "form.scss";
@import "photo.scss";


//============================Общие стили===========================

.wrapper_mobile {
  font-family: 'Open Sans';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0px auto;
  color:rgba(40, 54, 69, 1);
  }

.container_mobile {
  font-family: 'Open Sans';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  margin: 0px auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

//=====================================header=======================

.header {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__row {
  display: flex;
  justify-content: space-between;
}  

.menu-nav a {
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

@media (min-width: 1200px) {
  .header {
    position: fixed;
    z-index: 1;
  }
}


//================Бургер================================//


.menu-btn {
  display: block;
  width: 50px;
  height: 24px;
  position: relative;
}
  
  
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -25px;
  width: 50px;
  height: 2px;
  background-color:white;
}
.menu-btn span:hover {
  background-color: rgba(210, 40, 86, 1);
}
.menu-btn span:before:hover {
  background-color: rgba(210, 40, 86, 1)
}
.menu-btn span::after:hover {
  background-color: rgba(210, 40, 86, 1)
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: inline-block;
  transition: 1s;
}


.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

  //======================Бургер-Крестик===============================//


.menu-btn_active span {
  height: 0;
}

.menu-btn_active span::before {
  transform: rotate(45deg);
}
.menu-btn_active span::before {
  transform: rotate(-45deg);
}

//===========================Блок1 app=========================//


.app {
  background:url('../img/screen-mobile.png'),
            url('../img/phone.png') 1px 175px,
            url('../img/back-mobile.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 54vh;
  object-fit: cover;
}


.app__img {
  position: relative;
}

.app__title {
  position: absolute;
  top: 89px;
  left: 47px;
  font-weight: 300;
  color:white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}
@media (min-width: 1200px) {
  
  .app {
    background:url('../img/screen-desktop.png') 870px 240px,
              url('../img/phone.jpg') 300px 175px,
              url('../img/back-desktop.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position:relative;
  }
  .app__title {
    display: none;
  }
  
  .app__title1 {
    position: absolute;
    top: 230px;
    left: 190px;
    font-weight: 300;
    color:white;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
  }
}
//========================main-link=======================//

.main__link {
  background-color: rgba(29, 38, 49, 1);
  color:white;
  text-align: center;
}

.butt__app {
  padding: 21px 38px;
  border-radius: 35px;
  border: 2px solid white;
  background-color: rgba(29, 38, 49, 1);
  color: white;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 18px;
}
  
.app__button_small {
  display: flex;
  justify-content:space-evenly;
  padding-bottom: 31px;
  align-items: flex-end;
}
.app__text {
  padding-bottom: 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
} 

@media (min-width: 1200px) {

  .main__link {
    background-color: transparent;
    position: absolute;
    top: 470px;
    left: 128px;
    }
  }
  .butt__app {
    background-color: transparent;
    font-size: 21px;
  }
  .app__text {
    font-size: 21px;
  }


//==============================item1===============================//

.item1__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 70px;
  padding-right: 20px;
  padding-left: 20px;
}

.item1__text {
  color: rgba(40, 54, 69, 1);
  line-height: 28.8px;
  font-size: 24px;
  font-weight: 300;
}
@media (min-width: 660px) {
  .item1__text {
    font-size: 40px;
    line-height: 54.47px;
  }
}
@media (min-width: 1200px) {
  .item1__text {
    font-size: 50px;
    line-height: 68.09px;
  }
}
//===============================item2=======//


.item2__title {
  color:rgba(0, 0, 0, 1);
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  padding-top: 53px;
  padding-bottom: 24px;
}
.item2__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(40, 54, 69, 1);

}
.item2__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F2F2F2;
}


.item2__img {
  background:url("../img/iphone screen-31.png") no-repeat,
        url("../img/iphone 1.png") no-repeat;
        background-position: center;
        height: 45vh;
}
/*
  background:url("../img/iphone screen-1.png") no-repeat,
        url("../img/iphone 1.png") no-repeat;
        background-position: center;
        height: 39vh;
}*/
.item2__img1 {
  background:url("../img/iphone screen-31.png") no-repeat,
        url("../img/iphone 1.png") no-repeat;
        background-position: center;
        height: 45vh;
}
  /*background:url("../img/iphone screen-2.png") no-repeat,
        url("../img/iphone 1.png") no-repeat;
        background-position: center;
        height:39vh;*/

.item2__img2 {
  background:url("../img/iphone screen-31.png") no-repeat,
        url("../img/iphone 1.png") no-repeat;
        background-position: center;
        height: 45vh;
}
.item2__img1, .item2__img2 {
  display: none;
}

@media (min-width: 660px) {
  .item2__img, .item2__img1, .item2__img2 {
    margin-top: 30px;
  }
  .item2__row {
    flex-direction: row-reverse;
    padding-bottom: 30px;
  }
  .item2__container_img {
    width:100%;
  }
  .item2__img,  .container__item2 {
    width: 50%;
  }
  .item2__title, .item2__text {
    text-align: left;
  }
  .item2__img1, .item2__img2 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .item2__img1, .item2__img2 {
    display: block;
  }
  .item2__row {
    flex-direction: column-reverse;
  }
  .item2__1 {
    width: 252px;
  }
  .item2__img, .item2__img1, .item2__img2 {
    width: 100%;
  }
  .container__item2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .item2__container_img {
    display: flex;
    justify-content: space-around;
  }
  .item2__title, .item2__text {
    text-align: center;
  }
  .item2__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
  .item2__text  {
    font-size: 18px;
    line-height: 30px;
  }

}

//=======================effekt==============//
.watch {
  background:url("../img/24.png") 65px 115px no-repeat,
            url("../img/diagram-fill.png") 15px 55px no-repeat,
            url("../img/timer.png") no-repeat;
            width: 238px;
            height: 276px;
            margin-top:54px;
            margin-left: 20px;
}

.effekt__row {
  display: flex;
}
.effekt__row, .watch {
  width: 100%;
}

.effekt__title {
padding-top: 102px;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: rgba(0, 0, 0, 1);
padding-bottom: 24px;
text-align: left;
}


.effekt__text {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 24px;
  padding-right: 20px;
}

.effekt__link {
  text-decoration-line: underline;

}
.effekt__link a {
  color: rgba(210, 40, 86, 1);
}
.effekt {
  display: none;
}

@media (min-width: 660px) {
.effekt {
  display: block;
}
}  
//========================slider======================================
.wrapper__slider {
  text-align: center;
}
.slider__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}
.slider__text {
  font-size: 14px;
  line-height: 30px;
  color:rgba(40, 54, 69, 1);
}
.slider-subtitle  {
  display: none;
}
.slider__toggles__mobile  {
  padding-top: 45px;
  padding-bottom: 60px;
}
@media (min-width: 660px) {
  .slider-subtitle  {
    display: block;
  }
  .slider-subtitle__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    padding-top: 50px;
  }
  .slider__text {
    font-size: 18px;
  } 
}

//=========================slider-table==================================




.table, td, th {
  border: 2px solid rgba(229, 229, 229, 1);
  border-collapse: collapse;
  margin-bottom: 45px;
}
  


th {
  background-color: rgba(40, 54, 69, 1);
}
td, th {
  padding: 16px;
}
td {
  width: 276px;
}
.slider__toggles {
  text-align: center;
}  

.table__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
}
.table__row_big {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}
.table__rowp {
  font-weight: 300;
}
.trb {
  background: url('../img/ХИТ.png')10px 10px no-repeat,
              url('../img/hit ribbon.png') no-repeat, rgba(40, 54, 69, 1); 
}
.table-slider__tablet {
  display: none;
}
.slider-table {
  background-color: #F2F2F2;
  padding-top: 45px;
}
.slider__toggles {
  padding-bottom: 40px;
}


@media (min-width: 660px) {
  .table-slider__mobile {
    display: none;
  }
  .table-slider__tablet {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:20px;
    margin-right: 20px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 70px;
}
  .cell {
  text-align: center;
}
.th_lite {
  background-color: #F2F2F2;
  border: none;
}
td {
  width: 166px;
}
.table__title {
  text-align: left;
}
td, th {
  padding: 9px;
}
.slider__toggles {
  display: none;
} 
}
@media (min-width: 1200px) {
  
}


//======================Contacts==========================================



.contacts {
  text-align: center;
}
.contacts__questions {
  font-weight: 300;
  font-size: 24px;
  line-height: 28,8px;
  color: rgba(40, 54, 69, 1);
  padding-bottom: 45px;
}
.contacts__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 24,51px;
  color: rgba(40, 54, 69, 1);
  padding-bottom: 13px;
}
.contact {
  font-weight: 300;
  font-size: 24px;
  line-height: 32,68px;
  color: rgba(210, 40, 86, 1);
  padding-bottom: 31px;
}

@media (min-width: 660px) {
  .contacts__questions  {
    font-size: 40px;
    line-height: 54.47px;
  }
  .contacts__row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {

}

//===========================Footer==============================================



.footer {
  text-align: center;
}
.glass_red {
  padding-right: 12px;
}
.footer__logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 41px;
}
.logo_grey {
  font-size: 30px;
  text-transform: uppercase;
  color:rgba(40, 54, 69, 1)
}
.logo_grey a {
  color: rgba(40, 54, 69, 1); 
}
.footer__row {
  display: flex;
  justify-content: center;
  padding-bottom: 41px;
}

.logo__twitter, .logo__facebook {
  margin-right: 14px;
}

.footer__ellipse {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}



.logo__twitter {
  background: url('../img/twitter.png') 12px 15px no-repeat;
}
.logo__facebook {
  background: url('../img/facebook.png') 16px 12px no-repeat;
}
.logo__youtube {
  background: url('../img/youtube.png') 15px 15px no-repeat;
}
.footer__text {
  display: flex;
  justify-content: center;
  align-items:  center;
  padding-top: 41px;
  padding-bottom: 40px;
}
.footer__title {
  padding-right: 15px;
}
.footer__img {
  background: url("../img/html academy.png");
  width: 27px;
  height: 34px;
}
.footer__text {
  display:flex;
}
.footer__title {
  color:black;
}
@media (min-width: 660px) {
  .footer__row1 {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
  }
}
//=======================Интерактивность=====


.footer__img:hover {
  background: url("../img/html academy black.png");
}
.footer__img:active {
  opacity:0.3;
}

.glass_red:active {
  opacity:0.3;
}

.logo_grey:hover {
  color: rgba(210, 40, 86, 1);
}

.logo_grey:active {
  color: rgba(40, 54, 69, 1);
  opacity:0.3;
}

.footer__ellipse:hover {
  border: 3px solid rgba(40, 54, 69, 1);
}
.footer__ellipse:active {
  opacity: 0.1;
}


