@import "null.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,700");

.wrapper {
  font-family: 'Open Sans';
  font-weight: 400;
}

.header {
  background-color: rgba(40, 54, 69, 1);
  color: white;
}

.menu-nav a {
  color: white;
}



